{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мемасы</title>
    <link href="{% static 'src/css/style.css'%}" rel="stylesheet">

</head>
<body>

{% include 'memes/header.html' %}

<section class="main content">
    <div class="container">
        <div class="row ">
            <div class="col-12 offset-0 offset-md-2 col-md-8 posts">
                {% for meme in memes %}
                    {% include 'memes/post.html' with meme=meme %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-0 offset-md-2 col-md-8">
                {% include 'memes/lazy_load.html' %}
            </div>
        </div>
    </div>
    </div>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{% static '/src/js/lazy.js' %}"></script>
<script src="{% static '/src/js/like.js' %}"></script>
<script src="{% static '/src/js/header.js' %}"></script>
</body>
</html>