<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Загркзка мемов</title>
    <link href="{% static 'src/css/style.css'%}" rel="stylesheet">

</head>
<body>

<header id="myHeader">
    <div class="container">
        <div class="row menu text-center">
            <div class="col-2 site_logo text-left">
                <img src="{% static 'src/img/logo.png' %}">
            </div>
            <div class="col-8 links text-left">
                <div>Cвежее</div>
                <div>Горячее</div>
                <div>Рекомендуемое</div>
                <div>Поиск похожих мемов</div>
            </div>
        </div>
    </div>
</header>
<section class="main content" >
    <div class="container">
        <div class="row ">
            <div class="col-8 posts">

                <div class="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <img class="post_img" src="{% static 'img/153313659812790.jpg' %}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 splitter"></div>
                        </div>
                        <div class="row">
                            <div class="tags col-8 text-left">
                                <i class="far fa-heart fa-2x"></i>
                                <i class="far fa-comment fa-2x"></i>
                                <i class="fas fa-reply fa-2x"></i>
                            </div>
                            <div class="tags col-4 text-right">
                                <i class="fa fa-eye fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <img class="post_img" src="{% static 'img/153313659812790.jpg' %}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 splitter"></div>
                        </div>
                        <div class="row">
                            <div class="tags col-8 text-left">
                                <i class="far fa-heart fa-2x"></i>
                                <i class="far fa-comment fa-2x"></i>
                                <i class="fas fa-reply fa-2x"></i>
                            </div>
                            <div class="tags col-4 text-right">
                                <i class="fa fa-eye fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    </div>
</section>

</body>

<script src="{% static '/src/js/header.js' %}"></script>
</html>