{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Загркзка мемов</title>
    <link href="{% static 'src/css/style.css'%}" rel="stylesheet">

</head>
<body>

{% include 'memes/header.html' %}

<section class="upload content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include 'memes/drag_drop.html' %}
            </div>
        </div>
    </div>
</section>

{% if memes != null %}
<section class="same">
    <div class="container">
        <div class="row">
            <div class="col-8 posts">
                {% for meme in memes %}
                {% include 'memes/post.html' with meme=meme %}
                {% endfor %}
            </div>
            <div class="col-4 sample">
                {% include 'memes/same.html' with pic_url=pic_url %}
            </div>
        </div>
    </div>
    </div>
</section>
{% endif %}
</body>
</html>
